# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Environment-variable files
.env
.env.*
*.env
*.env.*
!/example.env

# Log file
*.log

# Package Files
*.jar

# VS Code
.vscode/

# Running Minecraft server in a container at runtime
/data/